extends ../layout

block content
    h1.
        Agendas: #{agendas.name}
    form(action='/agendas/#{agendas._id}/edit',method='post',name='update',enctype='application/x-www-form-urlencoded')
        p Name:
            input#inputName(type='text', value='#{agendas.name}', name='name')
        p Description:
            input#inputDes(type='text', value='#{agendas.description}', name='description')
        p
            input(type='hidden',value='PUT',name='_method')
        p
            button#btnSubmit(type='submit').
                Update