extends layout

block content
  .menu
    h2 Menu
    ul.nav.nav-pills
      li.active
        a(href="/") Home
      li
        a(href="/Restaurants") Restaurant List
      li
        a(href="/agendas") Agendas
  .home

    h1.
      Welcome!
