doctype html
//extends _bootstrap
html
  head
    link(rel='stylesheet', href='css/bootstrap.css')
    //include bootstrap/inc/scripts
    title= title + ' | ' + appname

  body
    .container
      .navbar.navbar-default
        .container
          .navbar-header
            a.navbar-brand(href='/')= appname
      .alert.alert-dismissable
      //h1= title
      //p Welcome!
      block content
