extends ../layout

//Todo: add bootstrap

block content

    //menu
    .menu
        h2 Menu
        ul.nav.nav-pills
            li.active
                a(href="/") Home
            li
                a(href="/Restaurants") Activities List
            li
                a(href="/agendas") Agendas


    h1.
        #{title}

    //create a new activity
    p
        a(href='/restaurants/newActivity') Add new

    ul
        - each act, i in restaurants
            li
                = act.name
                //= act.address

            //delete activities
            //console.log("test", restaurants._id)
            form(action='/restaurants/#{act._id}/editActivities', method='post', enctype='application/x-www-form-urlencoded')
                input(type='hidden', value='DELETE', name='_method')
                button(type='submit').
                        Delete
            p
                    a(href='/restaurants/#{act._id}/editActivities') Edit
            p
                    a(href='/restaurants/#{act._id}') Show
